#review-form,
#spot-search-form,
#manual-entry-form {
    background-color: #ffffff;
    padding: 3%;
}

#review-form {
    margin-top: 3%;
}

#back-to-review {
    cursor: pointer;
}

.dropdown.bootstrap-select {
    display: block;
}

#spot-search-form,
#manual-entry-form {
    margin: 0%;
}

.carousel-item img {
    max-height: 500px;
    background-position: center center;
    background-repeat: no-repeat;
}

#spot-form-tabs {
    margin-top: 3%;
}

.spot-tab {
    color: black;
    background-color: #e9e9e9;
    cursor: pointer;
}

.spot-tab.active {
    background-color: #ffffff;
}

#manual-suggestion-p {
    margin-left: 10%;
}

.card-verified {
    width: 10%;
    margin-left: 2%;
}