body {
    margin: 1%;
}

#container {
    display: grid;
    grid-template-columns: 30vw 30vw 30vw 30vw;
    grid-template-rows: 5vh 80vh 5vh;
    grid-template-areas:
        "nav nav nav nav"
        "saved1 saved2 saved3 saved4"
        "footer footer footer footer";
    grid-gap: 1%;
}

#nav {
    grid-area: nav;
}

#saved1 {
    grid-area: saved1;
    border: 3px solid black;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 40% 10% 40%;
    grid-template-areas:
        "title1"
        "image1"
        "tags1"
        "description1";
}

#title1 {
    grid-area: title1;
    text-align: center;
    font-size: larger;
}

#image1 {
    grid-area: image1;
    border: 3px solid black;
    margin: 7px;
    border-radius: 10px;
    background-image: url(1800_202410_BBY07/images/horin.jpeg);
}

#tags1 {
    grid-area: tags1;
}

#description1 {
    grid-area: description1;
}

#saved2 {
    grid-area: saved2;
    border: 3px solid black;
    border-radius: 10px;
}

#saved3 {
    grid-area: saved3;
    border: 3px solid black;
    border-radius: 10px;
}

#saved4 {
    grid-area: saved4;
    border: 3px solid black;
    border-radius: 10px;

}

#footer {
    grid-area: footer;
}