/* TODO: Change once colour pallete picked*/
body {
    background-color: rgb(209, 209, 209);
}

img {
  max-width: 100%;
}

/* review.html */
.review-rating-btn {
    border:0;
}

#review {
  overflow: hidden;
  background: #ffffff;
  margin-top: 5%;
}

#review-info{
  padding:5%;
  padding-bottom: 2%;
}

#review-body {
  padding: 0% 5%;
}

#review-rating {
  text-align: end;
}

#review-content {
  margin: 5%;
  margin-top: 1%;
}

/* review_form.html, spot_form.html */
#review-form, #spot-form {
  background-color: #ffffff;
  margin-top: 3%;
  padding: 3%;
}